
body {
    margin: auto;
    width: fit-content;
    font-size: 1.5em;
    box-sizing: border-box;
}

header > div{
    display: inline-block;
    width: 49vw;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}


#box1 {
    border: solid;
    height: 500px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.055);
    box-shadow: 0px 0px 2px black;
} 
#box1 > div {
    padding: 10px;
    margin: 10px;
    border: solid red;
    text-align: center;
    color: black;
} #box1 > div:hover {
    background-color: aqua;
    cursor: pointer;
}



.selecionado {
    background-color: red !important;
    text-decoration: underline !important;
    color: white !important;
    border: solid black !important;
} .selecionado:hover {
    background-color: brown !important;
}